@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap');

$black-color: #111;
$orange-color: #fd9222;
$darkviolet-color: #1e1823;
$white-color: #ffffff;
$hover-orange-color: #fcf1e0;
$bg-color: #fafafa;
$burgerBreakpoint: 940 + px;
$tablet: 768 + px;
$phone: 480 + px;

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: $black-color;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 128.571%;
  letter-spacing: -0.28px;
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
}

[class*='_container'] {
  max-width: 1200px;
  padding-inline: 32px;
  margin-inline: auto;
}

.header,
.main,
.footer {
  width: 100%;
}

/* ===================================== Header ============================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-block: 24px;
  background-color: $bg-color;
  z-index: 3;

  /* .header_container */
  &_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  /* .header_logo */
  &_logo {
    width: 213px;
    height: 24px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
    @media screen and (max-width: 992px) {
      width: 170px;
      height: 21px;
    }
  }
  // header_wrapper__nav
  &_wrapper__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 137px;
    position: relative;
    z-index: 3;
    @media screen and (max-width: 1100px) {
      column-gap: 70px;
    }
    @media screen and (max-width: 986px) {
      column-gap: 30px;
    }
    @media screen and (max-width: $burgerBreakpoint) {
      position: fixed;
      top: 0;
      right: -100%;
      width: 290px;
      height: 100%;
      background-color: $darkviolet-color;
      flex-direction: column;
      padding: 100px 50px 24px;
      transition: right 0.5s ease;
      @media screen and (max-width: $phone) {
        width: 220px;
        padding: 80px 45px 20px;
      }
    }
  }

  /* .header_social */
  &_social {
    display: flex;
    gap: 18px;
    svg {
      path {
        transition: 0.3s all ease;
      }
      &:hover {
        path {
          stroke: $orange-color;
        }
      }
    }
  }
}
.header_nav {
  /* .header_nav__list */
  &__list {
    display: flex;
    gap: 10px 26px;
    flex-wrap: wrap;
    justify-content: center;
  }
  /* .header_nav__item */
  &__item {
    transition: 0.3s all ease;
    &:hover {
      color: $orange-color;
    }
  }
}

// ==================== стили активного мобильного меню ====================
// header_wrapper__nav active
.header_wrapper__nav.active {
  right: 0;

  .header_nav__list {
    color: $white-color;
    flex-direction: column;
    gap: 26px;
  }

  .header_social {
    svg {
      path {
        transition: 0.3s all ease;
        stroke: $white-color;
      }
      &:hover {
        path {
          stroke: $orange-color;
        }
      }
    }
  }
}

// ==================== стили кнопки burger ====================
.burger {
  display: none;
  background-color: transparent;
  z-index: 3;
  @media screen and (max-width: $burgerBreakpoint) {
    display: flex;
    position: relative;
    height: 16px;
    width: 24px;
    background-color: transparent;
    padding: 0;
    border: 0;
    cursor: pointer;

    &::after,
    &::before,
    & span {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $black-color;
      transform-origin: 50% 50%;
      border-radius: 8px;
    }

    &::before {
      top: 0;
    }

    & span {
      top: 50%;
      transform: translateY(-50%);
    }

    &::after {
      bottom: 0px;
    }

    &.active {
      &::before {
        background-color: $white-color;
        animation: moveTopLine 0.4s forwards;
        transition: all 0.3s ease;
      }
      & span {
        animation: moveMidLine 0.4s forwards;
      }
      &::after {
        background-color: $white-color;
        animation: moveBotLine 0.4s forwards;
        transition: all 0.3s ease;
      }
    }

    // & {
    //   &::before {
    //     animation: moveTopLineRev 0.4s forwards;
    //   }
    //   & span {
    //     animation: moveMidLineRev 0.4s forwards;
    //   }
    //   &::after {
    //     animation: moveBotLineRev 0.4s forwards;
    //   }
    // }

    @keyframes moveTopLine {
      0% {
        transform: scale(1);
      }
      25% {
        transform: scale(1.5);
        top: -1px;
      }
      50% {
        transform: scale(1);
      }
      75% {
        transform: scale(1) translateY(-50%);
        top: 50%;
      }
      100% {
        transform: scale(1) translateY(-50%) rotate(-45deg);
        top: 50%;
      }
    }
    @keyframes moveTopLineRev {
      0% {
        transform: scale(1) translateY(-50%) rotate(-45deg);
        top: 50%;
      }
      25% {
        transform: scale(1.5) translateY(-50%) rotate(-45deg);
        top: 50%;
      }
      50% {
        transform: scale(1) translateY(-50%) rotate(-45deg);
        top: 50%;
      }
      75% {
        transform: scale(1) translateY(-50%) rotate(0);
        top: 50%;
      }
      100% {
        transform: scale(1) translateY(0);
        top: 0;
      }
    }
    @keyframes moveMidLine {
      0% {
        transform: scale(1);
      }
      25% {
        transform: scale(1.5);
      }
      50% {
        transform: scale(1);
        opacity: 1;
      }
      75% {
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }
    @keyframes moveMidLineRev {
      0% {
        opacity: 0;
      }
      25% {
        opacity: 0;
      }
      50% {
        opacity: 0;
      }
      75% {
        opacity: 1;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes moveBotLine {
      0% {
        transform: scale(1);
      }
      25% {
        transform: scale(1.5);
        bottom: -1px;
      }
      50% {
        transform: scale(1);
      }
      75% {
        transform: scale(1) translateY(-50%);
        top: 50%;
      }
      100% {
        transform: scale(1) translateY(-50%) rotate(45deg);
        top: 50%;
      }
    }
    @keyframes moveBotLineRev {
      0% {
        transform: scale(1) translateY(-50%) rotate(45deg);
        top: 50%;
      }
      25% {
        transform: scale(1.5) translateY(-50%) rotate(45deg);
        top: 50%;
      }
      50% {
        transform: scale(1) translateY(-50%) rotate(45deg);
        top: 50%;
      }
      75% {
        transform: scale(1) translateY(-50%) rotate(0);
        top: 50%;
      }
      100% {
        transform: scale(1) translateY(0);
        bottom: 0;
      }
    }
  }
}
.burger.active {
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.1);
    &::after,
    &::before {
      background-color: $orange-color;
    }
  }
}

/* ========================================= main ========================================== */
.main {
  flex: 1 0 auto;
}

/* ========================================= Hero ========================================== */

.hero {
  // .hero_section
  &_section {
    padding-inline: 32px;
  }
  // .hero_container
  &_container {
    min-height: 600px;
    border-radius: 15px;
    max-width: 1136px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: end;

    @media screen and (max-width: $tablet) {
      min-height: 890px;
    }

    @media screen and (max-width: $phone) {
      min-height: 621px;
      padding: 20px;
    }
  }
  // .hero_title
  &_title {
    max-width: 484px;
    color: $white-color;
    font-size: 28px;
    font-weight: 500;
    line-height: 121.42%;
    letter-spacing: -0.84px;
    margin-bottom: 32px;

    @media screen and (max-width: $phone) {
      max-width: 295px;
      font-size: 20px;
      line-height: 120%;
      letter-spacing: -0.6px;
    }
  }
  // .hero_buttons
  &_buttons {
    display: flex;
    gap: 32px 14px;
    align-items: center;
    flex-wrap: wrap;
  }
}
.buy {
  display: flex;
  padding: 14px 40px;
  align-items: center;
  justify-content: center;
  color: $white-color;
  background-color: $orange-color;
  border-radius: 100px;
  font-weight: 600;
  transition: all 0.3s ease;
  &:hover {
    color: $orange-color;
    background-color: $hover-orange-color;
  }

  @media screen and (max-width: $phone) {
    padding: 12px 28px;
  }
}
.hero_buttons__how-made {
  display: flex;
  padding: 14px 40px;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  color: $white-color;
  font-weight: 600;
  line-height: normal;
  border: 1px solid $white-color;
  background-color: transparent;
  margin-right: auto;
  transition: all 0.3s ease;
  &:hover {
    color: $orange-color;
    background-color: $white-color;
    border: 1px solid $orange-color;
  }

  @media screen and (max-width: $phone) {
    padding: 12px 28px;
  }
}
.hero_scroll {
  display: flex;
  gap: 14px;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    .hero_scroll__text {
      color: $orange-color;
    }

    .hero_scroll__down {
      svg {
        path {
          fill: $white_color;
        }
      }
      background: $orange-color;
    }
  }
  // .hero_scroll__text
  &__text {
    color: $white-color;
    font-size: 14px;
    font-weight: 500;
    line-height: 128.57%; /* 128.571% */
    letter-spacing: -0.42px;
    @media screen and (max-width: $phone) {
      font-size: 12px;
      line-height: 116.66%; /* 116.667% */
      letter-spacing: -0.36px;
    }
  }
  // .hero_scroll__down
  &__down {
    width: 38px;
    height: 38px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 22px;
      height: 22px;
      fill: $orange-color;
    }
    background: $white-color;

    @media screen and (max-width: $phone) {
      width: 28px;
      height: 28px;
      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}

/* ========================================= benefits ========================================== */
.benefits {
  // .benefits_section
  &_section {
    background: $darkviolet-color;
    padding: 50px;
    margin-top: 72px;
    position: relative;
    z-index: 0;
    @media screen and (max-width: 998px) {
      padding: 50px 0px;
      margin-top: 50px;
    }

    @media screen and (max-width: $phone) {
      padding: 20px;
    }
  }

  // .benefits_container
  &_container {
    display: flex;
    gap: 88px;

    @media screen and (max-width: 998px) {
      flex-wrap: wrap;
      gap: 32px 60px;
    }
  }
  // .benefits_body
  &_body {
    display: flex;
    flex-direction: column;
    gap: 18px;
    position: relative;
    flex: 0 1 308px;

    @media screen and (min-width: 997.98px) {
      &:not(:last-child) {
        &::after {
          content: '';
          display: block;
          position: absolute;
          width: 1px;
          height: 50%;
          background: rgba(255, 255, 255, 0.5);
          top: 50%;
          transform: translateY(-50%);
          right: -18px;
        }
      }
    }
  }
  // .benefits_img
  &_img {
    width: 62px;
    height: 62px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 4px;
    img {
      width: 32px;
      height: 32px;
    }
  }
  // .benefits_title
  &_title {
    color: $white-color;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
  }
  // .benefits_description
  &_description {
    color: rgba(255, 255, 255, 0.7);
    line-height: normal;
    letter-spacing: -0.28px;
  }
}
/* ========================================= taste ========================================== */
.taste {
  // .taste_section
  &_section {
    margin-top: 128px;
    @media screen and (max-width: $phone) {
      margin-top: 72px;
    }
  }
  // .taste_container
  &_container {
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;
  }
  // .taste_text
  &_text {
    max-width: 486px;
    color: $black-color;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 128.57%;
    letter-spacing: -0.28px;
    margin-bottom: 22px;
  }
  // .taste_body
  &_body {
    display: flex;
    gap: 19px;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (max-width: $tablet) {
      gap: 32px;
    }

    @media screen and (max-width: $phone) {
      gap: 20px;
    }
  }
  // .taste_card
  &_card {
    padding: 28px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    position: relative;
    overflow: hidden;
    font-weight: 600;
    line-height: 128.57%; /* 128.571% */
    letter-spacing: -0.28px;
    text-transform: uppercase;

    @media screen and (max-width: $tablet) {
      padding: 28px 55px;
    }

    &:first-child {
      background-color: $orange-color;
      color: $white-color;
    }
    &:nth-child(2),
    &:nth-child(4) {
      background-color: $white-color;
      border: 1px solid $orange-color;
    }
    &:nth-child(3) {
      background-color: $darkviolet-color;
      color: $white-color;
    }

    &:hover {
      .card_hover {
        bottom: 0;
      }
    }
  }
}
.section_title {
  color: $black-color;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 116.67%; /* 116.667% */
  letter-spacing: -0.72px;
  text-transform: uppercase;
  span {
    color: $orange-color;
  }
}
.taste_card {
  // .taste_card__img
  &__img {
    width: 206px;
    height: 160px;

    @media screen and (max-width: $tablet) {
      width: 224px;
      height: 170px;
    }

    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.card_hover {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: $white-color;
  left: 0;
  bottom: -100%;
  transition: all 0.3s ease;
}
.hover {
  // .hover_title
  &_title {
    color: $black-color;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.54px;
    text-transform: uppercase;
    margin-bottom: 8px;
  }
  // .hover_text
  &_text {
    color: $black-color;
    text-overflow: ellipsis;
    // white-space: nowrap;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 128.57%; /* 128.571% */
    letter-spacing: -0.28px;
  }
}
.buttons {
  display: flex;
  gap: 6px;
  button {
    padding: 6px 16px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;
    transition: all 0.3s ease;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 120% */
    &:first-child {
      background-color: $orange-color;
      color: $white-color;
    }

    &:last-child {
      background-color: transparent;
      color: $black-color;
      border: 1px solid $orange-color;
    }
  }
}

/* ========================================= made ========================================== */
.made {
  // .made_section
  &_section {
    margin-top: 128px;
    @media screen and (max-width: $phone) {
      margin-top: 72px;
    }
  }
}
.made_body {
  margin-top: 50px;
  display: flex;
  gap: 20px;

  @media screen and (max-width: 1100px) {
    flex-direction: column;
  }
  // .made_body__video
  &__video {
    flex: 0 0 600px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 1100px) {
      flex: 0 0 400px;
    }

    @media screen and (max-width: $phone) {
      flex: 0 0 500px;
    }
  }

  // .made_body__video-play
  &__video-play {
    width: 44px;
    height: 44px;
    cursor: pointer;
    transition: all 0.3s ease;

    @media screen and (max-width: $phone) {
      width: 35px;
      height: 35px;
    }

    circle,
    path {
      transition: all 0.3s ease;
    }

    &:hover {
      transform: scale(1.1);

      circle {
        stroke: $orange-color;
      }
      path {
        fill: $orange-color;
      }
    }
    svg {
      width: 100%;
      height: 100%;
    }
  }

  // .made_body__text
  &__text {
    padding: 32px;
  }
  // .made_body__title
  &__title {
    color: $black-color;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 133.33%; /* 133.333% */
    margin-bottom: 28px;
  }
  // .made_body__list
  &__list {
    color: $black-color;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen and (max-width: 1100px) {
      gap: 18px;
    }
  }
  // .made_body__item
  &__item {
    position: relative;
    margin-left: 16px;
    &::before {
      position: absolute;
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background-color: $black-color;
      left: -16px;
      top: 5px;
    }
  }
}

/* ========================================= our products ========================================== */

.products {
  // .products_section
  &_section {
    margin-top: 128px;
    @media screen and (max-width: $phone) {
      margin-top: 72px;
    }
  }
  // .products_slider
  &_slider {
    margin-top: 50px;
    padding-block: 30px;
  }
}
.products_slide {
  padding: 32px 20px;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: $white-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  // .products_slide__img
  &__img {
    width: 230px;
    height: 201px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  // .products_slide__title
  &__title {
    color: $black-color;
    font-size: 18px;
    font-weight: 600;
    line-height: 133.33%; /* 133.333% */
    letter-spacing: -0.36px;
    text-transform: uppercase;
    margin-top: 8px;
  }
  // .products_slide__text
  &__text {
    color: rgba(17, 17, 17, 0.7);
    font-size: 12px;
    font-weight: 400;
    line-height: 116.67%; /* 116.667% */
    letter-spacing: -0.24px;
  }
  // .products_slide__btn
  &__btn {
    padding: 8px 20px;
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    background: $bg-color;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
  }
}
.swiper-pagination {
  display: flex;
  gap: 13px;
  align-items: center;
  justify-content: center;
}
.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background-color: rgba(17, 17, 17, 0.1);
}
.swiper-pagination-bullet-active {
  width: 28px;
  height: 13px;
  background-color: $orange-color;
  border-radius: 6px;
}

/* ========================================= top sellers ========================================== */
.sellers {
  // .sellers_section
  &_section {
    margin-top: 128px;
    @media screen and (max-width: $phone) {
      margin-top: 72px;
    }
  }
  // .sellers_products
  &_products {
    margin-top: 50px;
    display: grid;
    gap: 32px 16px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(1fr, 464px) minmax(1fr, 72px);
    grid-template-areas:
      '. . .'
      'text text .';

    @media screen and (max-width: 940px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: minmax(1fr, 464px) minmax(1fr, 90px);
      grid-template-areas:
        '. .'
        'text .';
    }

    @media screen and (max-width: $phone) {
      grid-template-columns: 1fr;
      margin-top: 32px;
      grid-template-areas:
        '.'
        'text';
      gap: 20px;
    }
  }
  // .sellers_product
  &_product {
    border-radius: 15px;
    overflow: hidden;
    height: 464px;
    flex: 1 0 368px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    @media screen and (max-width: 940px) {
      &:nth-child(3) {
        display: none;
      }
    }
  }
  // .sellers_text
  &_text {
    max-width: 407px;
    grid-area: text;
    @media screen and (max-width: 940px) {
      max-width: 306px;
    }

    @media screen and (max-width: $phone) {
      margin-bottom: 12px;
    }
  }

  // .sellers_btn
  &_btn {
    margin-left: auto;
    @media screen and (max-width: $phone) {
      margin-inline: auto;
    }
  }
}

/* ========================================= reviews ========================================== */
.reviews {
  // .reviews_section
  &_section {
    margin-top: 128px;

    @media screen and (max-width: $tablet) {
      margin-top: 100px;
    }
    @media screen and (max-width: $phone) {
      margin-top: 72px;
    }
  }
  // .reviews_slider
  &_slider {
    margin-block: 50px;
    padding-block: 40px 45px;

    @media screen and (max-width: $phone) {
      margin-block: 32px;
      padding-block: 40px 33px;
    }
  }
  // .reviews_btn
  &_btn {
    button {
      display: flex;
      padding: 14px 40px;
      justify-content: center;
      align-items: center;
      border-radius: 100px;
      border: 1px solid $orange-color;
      transition: all 0.3s ease;
      font-size: 18px;
      font-weight: 600;
      line-height: normal;
      margin-inline: auto;

      &:hover {
        color: $white-color;
        background-color: $orange-color;
      }
    }
  }
}

.review_slide {
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  box-shadow: 0px 9.049px 26.572px 0px rgba(215, 228, 249, 0.25);
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
  padding: 56px 24px 24px 24px;
  position: relative;
  min-height: 100%;
  // .review_slide__photo
  &__photo {
    width: 80px;
    height: 80px;
    position: absolute;
    top: -40px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  // .review_slide__title
  &__title {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 133.33%; /* 133.333% */
  }
  // .review_slide__text
  &__text {
    color: rgba(17, 17, 17, 0.7);
    text-align: center;
  }
}

/* ========================================= Subscribe ========================================== */

/* ========================================= footer ========================================== */
